@{
    ViewData["Title"] = "Error";
}

@section Styles{
<link href="~/css/Customcss/File.css" rel="stylesheet" />
}
@section Scripts {

}
<div class="container" id="FilesDiv">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="section-subheading ">@ViewBag.Error</h3>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger " asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
