@{
    ViewData["Title"] = "Upload Complete";
}

@section Styles{
    <link href="~/css/Customcss/File.css" rel="stylesheet" />
}
@section Scripts {

}
<div class="container" id="FilesDiv">
    <div class="row">
        <div class="col-md-12">
            <h4 class="section-subheading text-uppercase">Thank you, we'll get in contact soon!</h4>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger " asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
